doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading(href="/") SmallStoneApps
        ul
          li.pure-menu-selected
            a(href="/stats/map") Map Stats
    .content
      block content